@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

header {
    color: #ededed;
    font-family: 'Orbitron', sans-serif;
    font-size:  36px;
    text-align: center;
    text-shadow: -1px 1px 0 #ffe979,
	1px 1px 0 #ad3c19,
	1px -1px 0 #c5d1ae,
	-1px -1px 0 #d86425;
}

body {
    background-color: black;
    color: white;
}

